<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if fetched_guest == Guest not found %}
    <p><b>No Guest Found</b></p>
    {% else %}
    <p><b> Occupant Name</b>{{ fetched_guest.occupant_name}}</p>
    <p><b>Occupant Occupation</b>{{ fetched_guest.occupant_occupation}}</p>
    <p><b>Room Number</b>{{ fetched_guest.room_number}}</p>
    <p><b>Amount paid </b>{{ fetched_guest.amount_paid}}</p>
    <p><b>Number of night </b>{{ fetched_guest.number_of_night}}</p>
    <p><b> Start date</b>{{ fetched_guest.start_date}}</p>
    <p><b>End date</b>{{ fetched_guest.end_date}}</p>
    {% endif %}
</body>

</html>